# Unity 自动生成文件夹
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/Assets/AssetStoreTools*

# 编辑器缓存文件（VS/Rider/VS Code）
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# 系统自动生成文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db